.home-section-3 {
  padding: 20px 0;
}

.blank-intro-hero {
  padding: 0;
  height: 700px;
}

.partners-who-we-work-with {
  padding: 120px 0 180px;
}

.manifesto-content-section-5 {
  .background-blue-part {
    width: 115%;
    right: -190px;
  }

  img {
    max-width: 118%;
  }
}

.manifesto-content-section-10 {
  .split-content-special {
    img {
      max-width: 200%;
    }

    .col1 {
      padding-right: 135px;
    }
  }
}

@media (min-width: 1600px) {
  .manifesto-content-section-10 {
    .split-content-special {
      img {
        max-width: none;
      }
    }
  }
}
